@{
    ViewBag.Title = "Home Page";
}

<h3>Home page</h3>

<p>This is the ActionResults demo project, created by <a href="http://www.exceptionnotfound.net">Exception Not Found</a>.</p>

<p>Here's some actions you can try out:</p>

<ul>
    <li>
        @Html.ActionLink("Home Page", "Index")
    </li>
    <li>
        @Html.ActionLink("Other page", "Alternate")
    </li>
    <li>
        @Html.ActionLink("Multiple actions", "Multiple")
    </li>
    <li>
        @Html.ActionLink("Redirect to Other Site", "RedirectToOtherSite")
    </li>
    <li>
        @Html.ActionLink("View a File", "ViewFile")
    </li>
    <li>
        @Html.ActionLink("Download a File", "DownloadFile")
    </li>
    <li>
        @Html.ActionLink("Download File Bytes", "FileBytes")
    </li>
    <li>
        @Html.ActionLink("Redirect to Action", "RedirectToAction")
    </li>
    <li>
        @Html.ActionLink("Redirect to Route", "RedirectToRoute")
    </li>
    <li>
        @Html.ActionLink("Partial View", "Partial")
    </li>
    <li>
        @Html.ActionLink("Custom Content", "Content")
    </li>
    <li>
        @Html.ActionLink("JSON", "Json")
    </li>
    <li>
        @Html.ActionLink("JavaScript", "JavaScript")
    </li>
    <li>
        @Html.ActionLink("Unathorized Result", "UnauthorizedResult")
    </li>
    <li>
        @Html.ActionLink("Status Code - Unauthorized", "UnauthorizedStatusCode")
    </li>
    <li>
        @Html.ActionLink("Status Code - Bad Gateway", "BadGateway")
    </li>
    <li>
        @Html.ActionLink("HTTP Not Found", "NotFound")
    </li>
    <li>
        @Html.ActionLink("Empty", "Empty")
    </li>
    
</ul>